* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
}

.container {
    width: 420px;
    margin: 150px auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px;
}

.star {
    background-color: hsl(211, 19%, 26%);
    /* background-color: beige; */
    margin: 20px;
    padding: 15px 20px;
    border-radius: 50%;
    width: 50px;
    
}

.star img {
    padding-top: 5px;
    size: 15px;
    
}

.question {
    margin: 20px;
}

.question h2 {
    color: hsl(0, 100%, 100%);
    font-weight: 700;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.question p {
    color: hsl(210, 2%, 60%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size:medium;
    line-height: 1.5em;
}

.rating-buttons {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
}

.rating {
    
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: hsl(211, 19%, 26%);
    border: none;
    border-radius: 48%;
    color: hsl(210, 2%, 60%);
    font-size: large;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: black;
    cursor: pointer;
}

.submit-container {
    margin: 20px;
}

.submit {
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: black;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 3px;
   
}

.submit:hover {
    background-color: white;
}

/* thanks html styling */

.thanks {
    text-align: center;
}

.img-container {
    width: 80%;
    margin: 25px auto;
    justify-content: center;
}

.img-container img {
    /* width: 180px; */
}

.selected {
    width: 45%;
    background-color: hsl(211, 19%, 26%);
    padding: 4px 5px;
    margin: auto;
    border-radius: 10px;
    color: hsl(25, 97%, 53%);
}

.message {
    width: 90%;
    margin: 35px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.message h2 {
    margin: 15px;
}

.message p {
    color: hsl(210, 2%, 60%);
}

@media (max-width: 500px) {
    .container {
        width: 80%;
        margin: 150px auto;
        background-color: hsl(213, 19%, 18%);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 10px 10px;
}

}