* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
}

.container {
    width: 32%;
    margin: 10% auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px;
}

.star {
    background-color: hsl(211, 19%, 26%);
    /* background-color: beige; */
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
}

.star img {
    justify-content: center;
    align-items: center;
    padding: 2px 0px 0px 2px;
}

.question {
    margin: 20px;
}

.question h2 {
    color: hsl(0, 100%, 100%);
    font-weight: 700;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.question p {
    color: hsl(210, 2%, 60%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size:medium;
    line-height: 1.5em;
}

.rating-buttons {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.rating {
    padding: 20px;
    box-sizing: border-box;
    background-color: hsl(211, 19%, 26%);
    border: none;
    border-radius: 48%;
    color: hsl(210, 2%, 60%);
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: black;
    cursor: pointer;
}